/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


.nav-tabs {
  display: inline-block;
  border-bottom: none;
  padding-top: 15px;
  font-weight: bold;
}
.nav-tabs > li > a, 
.nav-tabs > li > a:hover, 
.nav-tabs > li > a:focus, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
  color: #8e44ad;
}

.nav-list { border-bottom: 1px solid #eee; }
.nav-list > li { 
  padding: 20px 15px 15px;
  border-left: 1px solid #eee; 
}

.nav-list > li:hover { 
  padding: 20px 15px 15px;
  border-left: 1px solid #eee;
  background-color: #ecf0f1; 
}

.nav-list > li:last-child { border-right: 1px solid #eee; }
.nav-list > li > a:hover { text-decoration: none; }
.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-list > li > a > span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #34495e;
}

.nav-list > li > a > span:hover {
  font-weight: bold;
  text-transform: uppercase;
  color: #ecf0f1;
}

.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;
  width: 100%;
}

#brand {
  font-family: 'Antic Slab', serif;
  color: #8e44ad;
  font-weight: 600;
}

a#brand:hover {
  color: #9b59b6;
  font-weight: 800;
  border-bottom: 1px solid #8e44ad;
  padding-bottom: 3px;
}

#header-nav-right a {
  color: #8e44ad;
}

#header-nav-right a:hover {
  color: #9b59b6;
  font-weight: 600;
  border-bottom: 1px solid #8e44ad;
  padding-bottom: 15px;
}

#footer-link {
  #fff
}