// Place all the styles related to the guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

html, body
{
    height: 100%;
}

.navbar {
	margin-bottom: 39px;
}

#difficulty-container {
	width: 100%;
}

.hackinfo {
	width: 100%;
	background-color: #f4f5f7;
	height: 200px;
}

.landing-header-section {
	max-height: none;
}

.landing-header-section {
	width: 100%;
	height: 520px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.landing-header-text {
	float: left;
	width: 100%;
}

.landing-header-text {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}

.landing-header-text>h1 {
	font-size: 3em;
	line-height: 1.1;
	color: white;
	margin-top: 1em;
	text-transform: uppercase;
}



h1.lead {
	color: #000;
}

div.box-icon > span {
	background-color: #ecf1f1;  
}

div.results.col-md-5 {
	width: 47.6%;
}

.menu_spacer {
	margin-top: 6px;
	margin-left: 4px;
}

.menu_cat {
	margin-top: 25px;
	font-size: 23px;
	color: #2c3e50;
	font-weight: 600;
}

.links {
	margin-top: 8px;
}

.menu_link, .menu_link2, .menu_link3 {
font-size: 18px;
font-weight: 600;
line-height: 22px;
text-decoration: none;
cursor: pointer;
}

.menu_link:hover, .active, .menu_link2:hover, .menu_link3:hover {
color: #354b60;
}

.menu_link:hover {
	text-decoration: none;
}

#guide-price {
	margin-top: 15px;
}

#guide-title {
	margin-top: 25px;
}

#guide-img {
	margin-left: auto;
	margin-right: auto;
}

#guide-author {
	margin-top: -5px;
}

#guide-available {
	color: #16a085
}

#guide-notavailable {
	color: #c0392b
}

div.box {
	background-color: #ecf1f1;
	width: 100%;
}

.box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 18px 23px;
    text-align: right;
    display: block;
    margin-top: 60px;
}
.box-icon {
    background-color: #57a544;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
}
.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.info h4 {
    font-size: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.info > p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px;
    text-align: justify;
}
.info > a {
    background-color: #03a9f4;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
    margin-bottom: 60px;
}
.info > a:hover {
    background-color: #0288d1;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    transition: all 0.5s ease 0s;
}

#guide-description {
	height: 150px;
	margin-bottom: relative;
	overflow: hidden;
  	text-overflow: ellipsis;
}

#new-guide-form {
	max-width: 750px;
}

.panel:hover {
	border-color: #9b59b6;
	border-width: 1px;
}

.card {
	height: 210px;
	width: 390px;
	float: left;
	margin-bottom: 25px;
	margin-left: 30;
	padding: 19px;
}

.card_left {
	width: 84px;
	float: left;
	margin-left: 0px;
	margin-top: 21px;
}

.card_photo {
	height: 66px;
	width: 66px;
	-webkit-border-radius: 33px;
	-moz-border-radius: 33px;
	border-radius: 33px;
	margin-top: -6px;
	margin-bottom: 30px;
}

.card_price_title {
	font-size: 21px;
	color: #2ecc71;
	font-weight: 700;
	line-height: 18px;
	text-align: center;
	width: 67px;
}

.card_price_subtitle {
	font-size: 13px;
	color: #34495e;
	font-weight: 700;
	line-height: 13px;
	text-align: center;
	width: 67px;
}

.card_right {
	width: 261px;
	float: left;
}

.card_title {
	font-size: 16px;
	color: #34495e;
	font-weight: 600;
	line-height: 15px;
}

.card_subtitle {
	font-size: 15px;
	color: #ecf0f1;
	font-weight: 600;
	line-height: 20px;
}

#reviews {
	font-size: 14px;
	color: #34495e;
	font-weight: 600;
	line-height: 20px;
}

.card_text {
	margin-top: 8px;
	font-size: 16px;
	color: #34495e;
	font-weight: 200;
	line-height: 22px;
	width: 280px;
}

#card_list {
	min-height: 800px;
}

#side-search {
	min-width: 220px;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

#new-guide {
	margin-top: 5px;
}

.card_left {
	width: 77px;
	float: left;
}

.card_right {
	width: 273px;
	float: left;
}

.box#reviews {
	color: #2980b9;
}

.gig_submenu {
	border: 1px solid #d3d5da;
	border-radius: 3px;
	height: 50px;
	width: 800px;
	margin-bottom: 50px;
}

.service_button2 {
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: 600;
	color: #909090;
	margin-left: 19px;
	cursor: pointer;
	text-decoration: none;
}

#cta {
	padding: 15px;
}

.sidebar-module-inset {
	padding: 15px;
	background-color: #2c3e50;
	border-radius: 4px;
	color: #ecf0f1;
}

.sidebar-module {
	padding: 15px;
	margin: 0 -15px 15px;
}

.bs-docs-header {
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 24px;
	text-align: left;
	font-size: 20px;
	margin-top: -40px;
	z-index: 0;
}

.bs-docs-header, .bs-docs-masthead {
	position: relative;
	color: #cdbfe3;
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color: #9b59b6;
	background-image: #9b59b6 url('http://zmwlt.com/bucket/cz-20150128-what-color-2-bg.jpg') 0 0 no-repeat;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#9b59b6),to(#34495e));
	background-image: -webkit-linear-gradient(top,#9b59b6 0,#34495e 100%);
	background-image: -o-linear-gradient(top,#9b59b6 0,#34495e 100%);
	background-image: linear-gradient(to bottom,#9b59b6 0,#34495e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9b59b6', endColorstr='#6F5499', GradientType=0);
	background-repeat: repeat-x;
}

.bs-docs-header .container {
	position: relative;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.bs-docs-header h1 {
font-size: 60px;
line-height: 1;
}

.bs-docs-header h1 {
margin-top: 0;
color: #fff;
}

.bs-docs-header p {
margin-bottom: 0;
font-weight: 300;
line-height: 1.4;
}

p {
margin: 0 0 10px;
}

p.label.label-default.label-empty {
	background-color: none!important;
}

#guide-show-links {
	margin-left: 5px;
	margin-top: 5px;
}

#ingredients-title {
	background-color: #e7e7e7;
	padding: 10px;
	padding-right: 50px;
}


#ingredients-title, #ingredients-content {
	min-height: 50%;
}

#ingredients-content {
	margin-bottom: 15px;
}

#difficulty {
	background-color: #e7e7e7;
	padding: 10px;
	padding-right: 50px;
}

#difficulty-title, #difficulty-content {
	min-height: 50%;
}

#difficulty-content {
	margin-top: 5px;
	margin-bottom: 15px;
}

#cta {
	margin-bottom: -15px;
	margin-top: 10px;
}

#video {
	background-color: #e7e7e7;
	padding: 10px;
	padding-right: 50px;
}

#video-title, #video-content {
	min-height: 50%;
}

#video-content {
	margin-top: 5px;
	margin-bottom: 15px;
}

#author {
	background-color: #e7e7e7;
	padding: 10px;
	padding-right: 50px;
}

#author-title, #author-content {
	min-height: 50%;
}

#author-content {
	margin-top: 5px;
	margin-bottom: 15px;
}

.progress {
	background: #34495e; 
	border: 1px solid #2c3e50; 
	border-radius: 4px; height: 50px;
}

.progress-bar-custom {
	background: rgba(142, 65, 201, 1);
}

#guideprogress {
	margin-top: 11px;
}

#progressrow {
	margin-top: 52px;
}

#progress-inner-text {
	margin-top: 12px;
}