<section id="ingredients" class="row">
  <div id="ingredients-title" class="col-md-3">
    <h2 class="pull-right">Ingredients</h2>
  </div>
  <div id="ingredients-content" class="col-md-6">
    <div id="ingredients-content-list" class="list-group">
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Unbounce</h4>
        <p class="list-group-item-text">You'll build your list by sending visitors to a dedicated pre-launch page.</p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Twitter</h4>
        <p class="list-group-item-text">You will leverage the networking effects of Twitter to find the right early adopters</p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">Mailchimp</h4>
        <p class="list-group-item-text">You will capture the email information of interested users ahead of a product launch announcement</p>
      </a>
      <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading">BetaList</h4>
        <p class="list-group-item-text">Your product launch will echo forward as early adopters talk about your product amongst each other.</p>
      </a>
    </div>
  </section>