<section class="row">
  <div id="author" class="col-md-3">
    <h2 class="pull-right">Author</h2>
  </div>
  <div id="author-content" class="col-md-6">
    <h4 class="tag"><mute><%= link_to "Eyal Toledano", "#" %></h4>
    <p>This guide assumes you have a working knowledge of Twitter, Mailchimp, HTML, CSS and Ruby on Rails.</p>
</section>