<section class="row">
  <div id="video" class="col-md-3">
    <h2 class="pull-right">Video Resource</h2>
  </div>
  <div id="video-content" class="col-md-6">
    <h4 class="tag">VIDEO</h4>
    <p><%= link_to "Upload a video for this growth hack." %></p>
  </section>