<div class="menu_spacer">
    				
    				<div class="menu_cat">
						Browse
					</div>
    				<div class="links" id="cat_links">
						<a href="http://www.growthgeeks.com/gigs" class="menu_link active">Growth Hacks</a><br>
						<a href="http://www.growthgeeks.com/packages" class="menu_link">Growth Guides</a><br>
						<a href="http://www.growthgeeks.com/geeks" class="menu_link">Growth Hackers</a><br>
						<a href="http://www.growthgeeks.com/#categories" class="menu_link">Growth Categories</a><br>
					</div>
    			
    			
					<div class="menu_cat" style="display:none;">
						Categories
					</div>
					<div class="links" id="cat_links" style="display:none;">
					
								
								
												
								<a onclick="change_category('', this);" class="menu_link ">View All</a><br>
								
														<a onclick="change_category('23206', this);" class="menu_link ">Social Media <span class="tag_count">(108)</span></a><br>
							
														<a onclick="change_category('23226', this);" class="menu_link ">Copywriting <span class="tag_count">(89)</span></a><br>
							
														<a onclick="change_category('23207', this);" class="menu_link ">SEO <span class="tag_count">(80)</span></a><br>
							
														<a onclick="change_category('23205', this);" class="menu_link ">Inbound <span class="tag_count">(78)</span></a><br>
							
														<a onclick="change_category('23245', this);" class="menu_link ">Metrics &amp; Analy <span class="tag_count">(67)</span></a><br>
							
														<a onclick="change_category('23204', this);" class="menu_link ">Paid Traffic <span class="tag_count">(64)</span></a><br>
							
														<a onclick="change_category('23217', this);" class="menu_link ">Blogging <span class="tag_count">(56)</span></a><br>
							
														<a onclick="change_category('23268', this);" class="menu_link ">Landing Pages <span class="tag_count">(46)</span></a><br>
							
														<a onclick="change_category('23232', this);" class="menu_link ">Sales Funnels <span class="tag_count">(46)</span></a><br>
							
														<a href="http://www.growthgeeks.com/#categories" class="menu_link blue">See all categories</a><br>
					</div>
					<div class="menu_cat" style="display:block;">
						Sort
					</div>
					<div class="links" style="display:block;">
						<!--a onclick="change_sort('popular', this);" class="menu_link2 active">Most Popular</a><br>
						<a onclick="change_sort('rated', this);" class="menu_link2 ">Highest Rated</a><br-->
						<a onclick="change_sort('staff', this);" class="menu_link2 active">Staff Picks</a><br>
						<a onclick="change_sort('recent', this);" class="menu_link2 ">Recently Added</a><br>
						<a onclick="change_sort('priceup', this);" class="menu_link2 ">Price (low to high)</a><br>
						<a onclick="change_sort('pricedown', this);" class="menu_link2 ">Price (high to low)</a><br>
						<a onclick="change_sort('favorites', this);" class="menu_link2 ">Favorites</a><br>
					</div>
					<div class="menu_cat" style="display:block;">
						Type
					</div>
					<div class="links" style="display:block;">
						<a class="menu_link3 active">View All</a><br>
						<a class="menu_link3 ">Video</a><br>
						<a class="menu_link3 ">Checklist</a><br>
						<a class="menu_link3 ">File Pack</a><br>
						<a class="menu_link3 ">Other</a><br>
					</div>
					<div class="love" style="display:none;">
					Made with <span class="love_word">love</span> in Austin<br>
					<a href="./about/cheatsheet" class="love_blue">Learn more about us</a>
					</div>
				</div>