<div class="row" align="center">
  <div class="gig_submenu">
    <a class="service_button2"><%= image_tag 'icon_message.png' %> Send Message</a>
    <a class="service_button2" id="favorite"><%= image_tag 'icon_favorite.png' %> Add to Favorites</a>
    <a class="service_button2"><%= image_tag 'icon_other.png' %> Geeks Other Hacks</a>
    <a target="_blank" class="service_button2"><%= image_tag 'icon_linkedin.png' %> Profile</a>
  </div> 
</div>