<div class="container">
  <div class="page-header" align="middle">
    <%= link_to 'List a New Guide', new_guide_path, class: "pull-right btn btn-small btn-primary", id: "new-guide" %>
    <h1 id="browse-header" class="text-center">Browse Growth Guides</h1>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="well col-md-3">
        <div id="side-search well">
          <div class="right-inner-addon">
            <i class="icon-search"></i>
            <input type="search" class="form-control" placeholder="Search for a growth hack" />
            <br>
            <%= render 'menuleft' %>
          </div>
        </div>
      </div>

      <div id="card_list" class="col-md-9">
        <%= render 'guide' %>
      </div>
    </div>

  </div>
        
    <hr>    
    
  <br>
</div>

