<footer class="footer">
			<br><br><br>
	<div class="container">

        <p class="text-muted pull-right white-text">&nbsp; © Copyright 2015 <%= link_to "GrowthGuides.com", root_path, class: "white-text" %></p>
    </div>
</footer>