<footer class="footer">
			<br><br><br>
	<div class="container">

        <p class="text-muted pull-right">&nbsp; © Copyright 2015 <%= link_to "GrowthGuides.com", root_path %></p>
    </div>
</footer>